<h1>Items#about</h1>
<p>Find me in app/views/items/about.html.erb</p>

      <select id="selPref" onchange="selPref(this);"></select>
      <select id="selCity"></select>

<%= javascript_include_tag "sample.js" %>