<div class="container">
  <div class="row">
    <form name="csv_statement" method="post" action="items/download">
      <p class="select-wrap"><select name="kosen_school" id="kosen[school]" onchange="selSchool(this);" class="form-item"></select></p>
      <p class="select-wrap"><select name="kosen_department" id="kosen[department]" class="form-item"></select></p>
      <p><button type="submit" class="form-item">ダウンロード</button></p>
    </form>
  </div>
</div>

<%= javascript_include_tag "select.js" %>