// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    body {
        width: 100%;
        min-width: 360px;
        margin: 0;
        padding: 0;
        background: #ccc6;
    }    
}

.container {
    border-radius: 5px;
    padding: 1em;

    .row {
        background: #fff;
        padding: 1em;
        border-radius: 5px;
        max-width: 720px;
        margin: auto;

        form {
            text-align: center;
            margin: 0 auto;

            p {
                width: 50%;
                margin: 1em auto;
                position: relative;
            }

            .form-item {
                width: 100%;
                height: 2.5em;
                padding: 0.1em;

                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: #ccc6;
                border: 0;
                outline: 0;
                border-radius: 3px;
    
                font-size: 1em;
            }

            .select-wrap::after {
                content: '';
                background: #3333;
                position: absolute;
                top: calc(50% - 0.5em);
                right: 2em;
                display: block;
                width: 1em;
                height: 1em;
            }
        }
    }
}

@media (max-width: 720px) {
    .container {
        width: 100%;
        .row {
            form {
                p {
                    width: 90%;
                }
                .form-item {
                    width: 100%;
                }
            }
        }
    }
}